/* General */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: hsl(0, 0%, 10%);
  margin: 16px;
}

.button-link {
  background-color: hsl(210, 100%, 50%);
  color: hsl(0, 100%, 100%);
  border-radius: 16px;
  text-decoration: none;
  padding: 8px 32px;
  transition: .2s;
}

.button-link:hover {
  background-color: hsl(270, 100%, 50%);
}


/* Flex */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-justify {
  justify-content: flex-start;
}

@media only screen and (min-width: 768px) {
  .flex-container {
    flex-direction: row;
  } 
}


/* Grid System */
.container {
  padding: 32px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 32px;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}


/* Navigation */
nav {
  background-image: linear-gradient(to right, hsl(210, 100%, 50%), hsl(270, 100%, 50%));
  border-radius: 16px;
  padding: 0 32px;
}

nav a {
  line-height: 64px;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 700;
  color: hsl(0, 100%, 100%);
  transition: .2s;
}

nav a:hover {
  color: hsl(0, 0%, 10%);
}

.nav-left,
.nav-right {
  display: none;
}

.nav-logo {
  height: 64px;
  vertical-align: middle;
}

.dropmenu-icon {
  float: right;
}

.dropmenu-icon i {
  vertical-align: middle;
}

.dropmenu {
  display: none;
}

.nav-text a {
  display: block;
  text-align: center;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .nav-left,
  .nav-right {
    display: inline;
    width: 384px;
  }

  .nav-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 64px;
  }

  .dropmenu-icon {
    display: none;
  }
}


/* Header */
header {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 192px;
}

.header-title {
  font-size: 6em;
  font-family: 'Inconsolata', monospace;
  text-align: left;
}

.header-text {
  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .header-title {
    text-align: center;
  }
}


/* Section */
section {
  padding: 32px 32px 128px 32px;
}

.section-title {
  background-image: linear-gradient(to right, hsl(210, 100%, 50%), hsl(270, 100%, 50%));
  color: hsl(0, 100%, 100%);
  border-radius: 16px;
  font-size: 1.75em;
  line-height: 48px;
  letter-spacing: 4px;
  text-align: center;
  margin: 0;
}


/* Article */
article {
  margin-bottom: 32px;
}

article p {
  line-height: 1.5em;
}

.article-title {
  margin-top: 0;
}

.sub-article {
  margin-bottom: 32px;
}

.sub-article h3,
.sub-article h4,
.sub-article p {
  margin: 8px 0;
}

.sub-article h4 {
  font-weight: 400;
}

.sub-article p {
  color: hsl(0, 0%, 50%);
}

.download-resume {
  text-align: center;
  margin-top: 64px;
}


/* Card */
.card {
  border: solid 1px hsl(0, 0%, 90%);
  border-radius: 16px;
  margin-bottom: 32px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .2);
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card-img {
  background-size: cover;
  height: 128px;
  border-radius: 16px 16px 0 0;
}

.card-container {
  padding: 16px;
}

.card-container h4,
.card-container p {
  margin: 0;
}

.card-container p {
  font-size: .9em;
}

@media only screen and (min-width: 768px) {
  .card {
    margin: 0 32px 32px 0;
  }
}


/* Footer */
footer {
  background-color: hsl(0, 0%, 30%);
  color: hsl(0, 100%, 100%);
  border-radius: 17px;
  padding: 8px 32px;
  text-align: center;
}

footer p {
  font-size: .9em;
  margin: 0;
}